.movieGridList {
  position: relative;

  .keywordWrapper {
    height: 26px;
    font-weight: 300;
    font-size: 1.1rem;

    .keyword {
      font-size: 1.6rem;
      margin-right: 6px;
      color: var(--primary);
      font-weight: 600;
      font-family: 'Permanent Marker', cursive;
    }
  }

  .movieList {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: auto;
    margin-top: 1rem;

    @media screen and (min-width: 420px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media screen and (min-width: 768px) {
      grid-template-columns: repeat(3, 1fr);
    }

    @media screen and (min-width: 1024px) {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}
